{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main class="main">
    <div class="box">
        <div class="display" id="output">
            {{!-- <input type="text" readonly size="18"> --}}
        </div>
        <div class="buttons">
            <button onclick="calc.memoryRecall()" class="button button-gray">mrc</button>
            <button onclick="calc.memoryClear()" class="button button-gray">m-</button>
            <button onclick="calc.memoryAdd()" class="button button-gray">m+</button>
            <button onclick="calc.operation('/')" class="button button-pink">/</button>

            <button onclick="calc.add(7)" class="button button-black">7</button>
            <button onclick="calc.add(8)" class="button button-black">8</button>
            <button onclick="calc.add(9)" class="button button-black">9</button>
            <button onclick="calc.operation('*')" class="button button-pink">*</button>

            <button onclick="calc.add(4)" class="button button-black">4</button>
            <button onclick="calc.add(5)" class="button button-black">5</button>
            <button onclick="calc.add(6)" class="button button-black">6</button>
            <button onclick="calc.operation('-')" class="button button-pink">-</button>

            <button onclick="calc.add(1)" class="button button-black">1</button>
            <button onclick="calc.add(2)" class="button button-black">2</button>
            <button onclick="calc.add(3)" class="button button-black">3</button>
            <button onclick="calc.operation('+')" class="button button-pink">+</button>

            <button onclick="calc.add(0)" class="button button-black">0</button>
            <button onclick="calc.dot()" class="button button-black">.</button>
            <button onclick="calc.reset()" class="button button-black">C</button>
            <button onclick="calc.result()" class="button button-orange">=</button>
        </div>
    </div>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}